*,
::before,
::after{
    box-sizing: border-box;
    border-width: 0; 
    border-style: solid;
    margin: 0;
}


 /* variables para colores */
:root {

--primary-color:#C2E8FF; /*color ultra claro*/ 
--secundary-color:#7DA0CA; /* color super claro*/
--tercer-color:#5482B3;	/* color claro */
--cuarto-color:#052759; /* color oscuro*/
--quinto-color:#021024; /*color super oscuro*/
--font-family:'Lato', sans-serif;
--font-family-two:"Pacifico", cursive;
--letra:#000;
}
body{
    margin: 0;
    min-height: 100vh;
    width: 100%;
    padding-top: 4rem;
    position: relative;
    font-family: var(--font-family);
}
/* inicio menu---------------------- */
#navbar-icon{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

#nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--quinto-color);
    height: 4rem;
    z-index: 10;
}

.nav-container{    
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    
    
}

#title{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
} 

#nav-menu{
    display: none;
}
/* final menu--------------------------- */
/* inicio body ---------------------------------------------------------- */
#presentacion{
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    text-align: center;

    
}
#presentacion-title >span{
    font-family: var(--font-family-two);
    color:var(--secundary-color);
    transition: .3s all ease-in-out;
}
#content{
    height: calc(100vh - 4rem);
    /* background-image: url(img/developers.svg); */
    /* background-position: center;
    background-size: cover; */
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    justify-content: center;
    background-color:var(--secundary-color);
}

#content >p{
    font-size: 1.5rem;
    font-weight: 600;
    /* color: var(--primary-color); */
    text-align: justify;
    /* padding: 1rem; */
}
#titulo{
    font-size: 3rem;
    font-weight: 600;
    /* color: var(--primary-color); */
    text-align: center;
    padding: 1rem;
}
#name{
    font-family:var(--font-family-two);
    color:var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
}
#content-img{
    display: none;
}
.content-about>p{
    font-weight: 600;
}
#project{
    background-color:var(--cuarto-color);
    /* height: calc(100vh - 4rem); */
 }
 .project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 2rem;
    gap: 1rem;
}
.projectos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    text-align: center;
    padding: 2rem;
    gap: 2rem;
}

.projectos-1{
    border-top: 1.5rem solid var(--quinto-color);
    width: 90%;
    height: auto;
    justify-content: center;
    
}
.img-proyectos{
    width: 100%;
    height: auto;
 }
 h4 ,p {
    text-align: center;
    padding: 0.5rem 0;
    font-size:1rem;
    font-weight: 600;
    color: var(--primary-color);
 }
 button {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    width: 100%;
    cursor: pointer;
    background-color:var(--secundary-color);
    transition: .3s all ease-in-out;
    cursor: pointer;
    
}
button:hover{
    background-color:red;
    transition: .3s all ease-in-out;
    cursor: pointer;

}
#lenguaje{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    
}
#lenguaje-title{
    
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
    transition: .3s all ease-in-out;
}
.lenguaje-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
}
.lenguaje1{
    /* border: 1px solid red; */
    box-shadow:
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.101),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.149),
    100px 100px 80px rgba(0, 0, 0, 0.25);
}
.leng-img{
    width: 100%;
    height: auto;

}
#contact{
    background-color:var(--tercer-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: .3s all ease-in;
    
 
}

h2 {
    font-size: 2.5rem;
   
}
.contact-info {
    /* gap: 1rem; */
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
.contact-container {
    margin: 0 2rem;
}


#correo{
    padding: 1rem 0;
    width: 50%;
}
/* fin de body */
/* pie de pagina ------------------------------------------------------------ */
footer{
    background-color: var(--quinto-color);
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding: 1rem;
    color: var(--cuarto-color);
    position: absolute;
    gap: 0.5rem;
}
.footer-pag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}
#texto{
    color:var(--primary-color);
}
#red-social{
    width: 1rem;
    height: 1rem;
} 

@media (min-width:768px) {
    #navbar-icon{
        display: none;
    } 
    #nav-menu{
    position: absolute;
    right: 0;
    display: flex;
    gap: 1rem;
    margin: 0.7rem;
    list-style: none;
    
    }
    li>a{
    text-decoration: none;
    list-style: none;
    color:var(--primary-color);
    
    }
    li>a:hover{
        border-bottom:0.5rem solid red;
        /* background-color:var( --primary-color); */
        padding: 1rem 2rem;
        color:var(--secundary-color);

    }
    #presentacion{
        height: calc(100vh - 4rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center  ;

        position: relative;
        background:var(--cuarto-color);
    }
    #presentacion::after{
        content: '';
        position: absolute;
        right: 0;
        left: -0%;
        top: 100%;
        z-index: 10;
        display: block;
        height: 50px;
        background-size: 50px 100%;
        background-image: linear-gradient(135deg, var(--cuarto-color) 25%, transparent 25%), linear-gradient(225deg, var(--cuarto-color) 25%, transparent 25%);
        background-position: 0 0;
    }
    #presentacion-title >span{
        font-family: var(--font-family-two);
        color:var(--secundary-color);
        transition: .3s all ease-in-out;
    }
    #content{
        background-image:none;
        display: flex;
        flex-direction: row;
        background-color:var(--letra);
    }
    #content-img{
        display: block;
        width: auto;
        opacity: 0.5;
        height: 50%;
    }
    #lenguaje{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        
    }
    #lenguaje-title{
        
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        padding: 1rem;
        transition: .3s all ease-in-out;
    }
    .lenguaje-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        text-align: center;
        gap: 2rem;
        padding: 2rem;
    }
    .lenguaje1{
        /* border: 1px solid red; */
        box-shadow:
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.101),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.149),
        100px 100px 80px rgba(0, 0, 0, 0.25);
    }
    .leng-img{
        width: 100%;
        height: auto;
 
    }

    #project{
        background-color:var(--cuarto-color);
        height: calc(100vh - 4rem);
     }
     .project-container{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items:center;
         padding: 2rem;
         gap: 1rem;
     }
     .projectos{
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         justify-items: center;
         text-align: center;
         padding: 2rem;
     
     }
     .projectos-1{
         border-top: 1rem solid var(--quinto-color);
         width: 90%;
         height: auto;
         justify-content: center;
         
     }
     .img-proyectos{
        width: 100%;
        height: auto;
     }
     h4 ,p {
        text-align: center;
        padding: 0.5rem 0;
        font-size:1rem;
        font-weight: 600;
        color: var(--primary-color);
     }
     button {
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        width: 100%;
        cursor: pointer;
        background-color:var(--secundary-color);
        transition: .3s all ease-in-out;
        cursor: pointer;
    }
    button:hover{
        background-color:var(--primary-color);
        cursor: pointer;
        
    }

    h2 {
        font-size:3rem;
       
    }
    
    
    
    

}

@media (min-width:1024px) {
    .projectos {
        margin-top: 5rem;
    }
    h4, p {
       
        font-size: 1.5rem;
        
    }
}
@media(min-width:1440px){
    #nav-bar {
        height: 6rem;
    }
    #title{
        font-size: 3rem;
    }
    #nav-menu{
        font-size: 2rem;
    }
    h2 {
        font-size: 6rem;
    }
    #titulo {
        font-size: 4rem;
        color:var(--primary-color);
    }
    h4, p {
        font-size: 2rem;
    }
    #lenguaje-title {
        font-size:5rem ;
    }
    
    
}
@media(min-width:2560px){
    #nav-bar {
        height: 10rem;
        width: 100%;
    }
    .nav-container {
        justify-content: space-between;
    }
    #title{
        font-size: 5rem;
    }
    #nav-menu{
        font-size: 3rem;
    }
    h2 {
        font-size: 10rem;
    }
    #titulo {
        font-size: 9rem;
        color:var(--primary-color);
    }
    #name {
        font-size: 5rem;
    }
    h4, p {
        font-size: 3rem;
    }
    #lenguaje-title {
        font-size: 8rem;
    }
}