*,
::before,
::after{
    box-sizing: border-box;
    border-width: 0; 
    border-style: solid;
    margin: 0;
}


 /* variables para colores */
:root {

--primary-color:#C2E8FF; /*color ultra claro*/ 
--secundary-color:#7DA0CA; /* color super claro*/
--tercer-color:#5482B3;	/* color claro */
--cuarto-color:#052759; /* color oscuro*/
--quinto-color:#021024; /*color super oscuro*/
--font-family:'Lato', sans-serif;
--font-family-two:"Pacifico", cursive;
}
body{
    margin: 0;
    min-height: 100vh;
    width: 100%;
    padding-top: 4rem;
    position: relative;
    font-family: var(--font-family);
}
#navbar-icon{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

#nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--quinto-color);
    height: 4rem;
    z-index: 10;
}

.nav-container{    
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    
}

#title{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
} 

#nav-menu{
    display: none;
}
#content{
    height: calc(100vh - 4rem);
    /* background-image: url(img/hero-image.jpg); */
    /* background-position: center;
    background-size: cover;
    padding: 0 1rem; */
}


footer{
    background-color: var(--cuarto-color);
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding: 1rem;
    color: var(--cuarto-color);
    position: absolute;
    gap: 0.5rem;
}
.footer-pag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}
#texto{
    color:var(--primary-color);
}
#red-social{
    width: 1rem;
    height: 1rem;
} 

@media (min-width:768px) {
    #navbar-icon{
        display: none;
    } 
    #nav-menu{
    position: absolute;
    right: 0;
    display: flex;
    gap: 1rem;
    margin: 0.7rem;
    list-style: none;
    }
    li>a{
    text-decoration: none;
    list-style: none;
    }
}