*,
::before,
::after{
    box-sizing: border-box;
    border-width: 0; 
    border-style: solid;
    margin: 0;
}


 /* variables para colores */
:root {

--primary-color:#C2E8FF; /*color ultra claro*/ 
--secundary-color:#7DA0CA; /* color super claro*/
--tercer-color:#5482B3;	/* color claro */
--cuarto-color:#052759; /* color oscuro*/
--quinto-color:#021024; /*color super oscuro*/
--font-family:'Lato', sans-serif;
--font-family-two:"Pacifico", cursive;
--letra:#000;
}
body{
    margin: 0;
    min-height: 100vh;
    width: 100%;
    padding-top: 4rem;
    position: relative;
    font-family: var(--font-family);
}
/* inicio menu---------------------- */
#navbar-icon{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

#nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--quinto-color);
    height: 4rem;
    z-index: 10;
}

.nav-container{    
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    
}

#title{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
} 

#nav-menu{
    display: none;
}
/* final menu--------------------------- */
/* inicio body ---------------------------------------------------------- */
#presentacion{
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    
}
#presentacion-title >span{
    font-family: var(--font-family-two);
    color:var(--secundary-color);
    transition: .3s all ease-in-out;
}
#content{
    height: calc(100vh - 4rem);
    background-image: url(img/developers.svg);
    background-position: center;
    background-size: cover;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    justify-content: center;
}

#content >p{
    font-size: 1.5rem;
    font-weight: 600;
    /* color: var(--primary-color); */
    text-align: justify;
    /* padding: 1rem; */
}
#titulo{
    font-size: 3rem;
    font-weight: 600;
    /* color: var(--primary-color); */
    text-align: center;
    padding: 1rem;
}
#name{
    font-family:var(--font-family-two);
    color:var(--secundary-color);
    font-size: 2rem;
    font-weight: 600;
}
#content-img{
    display: none;
}
.content-about>p{
    font-weight: 600;
}
#project{
    background-color:var(--cuarto-color);
    /* height: calc(100vh - 4rem); */
 }
 .project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 2rem;
    gap: 1rem;
}
.projectos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    text-align: center;
    padding: 2rem;
    gap: 2rem;
}
.projectos-1{
    border: 1px solid var(--primary-color);
    width: 90%;
    height: auto;
    justify-content: center;
    
}
.img-proyectos{
    width: 100%;
    height: auto;
 }
 h4 ,p {
    text-align: center;
    padding: 0.5rem 0;
    font-size:1rem;
    font-weight: 600;
    color: var(--primary-color);
 }
 button {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    width: 100%;
    cursor: pointer;
    background-color:var(--secundary-color);
    transition: .3s all ease-in-out;
}
button:hover{
    background-color:var(--primary-color);
    
}

#contact{
    background-color:var(--tercer-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: .3s all ease-in;
    
 
}

h2 {
    font-size: 2.5rem;
   
}
.contact-info {
    /* gap: 1rem; */
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
.contact-container {
    margin: 0 2rem;
}
form {
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

input[type="email"] {
    background-color: darkgrey;
    height: 2rem;
    border-radius: 0.5rem;
}

#correo{
    padding: 1rem 0;
    width: 50%;
}
/* fin de body */
/* pie de pagina ------------------------------------------------------------ */
footer{
    background-color: var(--quinto-color);
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding: 1rem;
    color: var(--cuarto-color);
    position: absolute;
    gap: 0.5rem;
}
.footer-pag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}
#texto{
    color:var(--primary-color);
}
#red-social{
    width: 1rem;
    height: 1rem;
} 

@media (min-width:768px) {
    #navbar-icon{
        display: none;
    } 
    #nav-menu{
    position: absolute;
    right: 0;
    display: flex;
    gap: 1rem;
    margin: 0.7rem;
    list-style: none;
    }
    li>a{
    text-decoration: none;
    list-style: none;
    }
    #presentacion{
        height: calc(100vh - 4rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
        
    }
    #presentacion-title >span{
        font-family: var(--font-family-two);
        color:var(--secundary-color);
        transition: .3s all ease-in-out;
    }
    #content{
        background-image:none;
        display: flex;
        flex-direction: row;
        background-color:var(--letra);
    }
    #content-img{
        display: block;
        width: auto;
        opacity: 0.5;
        height: 50%;
    }
    /* .content-img{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1.5rem;
    } */


    #project{
        background-color:var(--cuarto-color);
        height: calc(100vh - 4rem);
     }
     .project-container{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items:center;
         padding: 2rem;
         gap: 1rem;
     }
     .projectos{
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         justify-items: center;
         text-align: center;
         padding: 2rem;
     
     }
     .projectos-1{
         border: 1px solid var(--primary-color);
         width: 90%;
         height: auto;
         justify-content: center;
         
     }
     .img-proyectos{
        width: 100%;
        height: auto;
     }
     h4 ,p {
        text-align: center;
        padding: 0.5rem 0;
        font-size:1rem;
        font-weight: 600;
        color: var(--primary-color);
     }
     button {
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        width: 100%;
        cursor: pointer;
        background-color:var(--secundary-color);
        transition: .3s all ease-in-out;
    }
    button:hover{
        background-color:var(--primary-color);
        
    }

    h2 {
        font-size:3rem;
       
    }
    input[type="email"] {
        width: 60%;
        height: 3rem;
        font-size: 1rem;
    }
    #email-form{
        width: 20%;
    }
    form {
        flex-direction: row;
        justify-content: center;
    }

    #correo{
        width: 50%;
    }
    

}